In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("LC_DS.csv")

In [4]:
# Remove duplicates 
before = dataset.shape
dataset = dataset.drop_duplicates()
after = dataset.shape

print("Before:", before)
print("After :", after)

Before: (890000, 17)
After : (890000, 17)

In [6]:
# Normalize text
dataset["gender"] = dataset["gender"].str.lower().str.strip()
dataset["smoking_status"] = dataset["smoking_status"].str.lower().str.strip()
dataset[["gender", "smoking_status"]].head()

   gender  smoking_status
0    male  passive smoker
1  female  passive smoker
2  female   former smoker
3  female  passive smoker
4    male  passive smoker

In [7]:
# Convert yes/no to 1/0
dataset["family_history"] = dataset["family_history"].replace({"Yes": 1, "No": 0})
dataset["family_history"] = pd.to_numeric(dataset["family_history"], errors="coerce")
dataset["family_history"].value_counts()

/var/folders/f_/98g2l_8979b28b5b13zc8stm0000gn/T/ipykernel_21999/3169185852.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset["family_history"] = dataset["family_history"].replace({"Yes": 1, "No": 0})

family_history
0    445181
1    444819
Name: count, dtype: int64

In [8]:
# Check for missing values
dataset.isnull().sum()

id                    0
age                   0
gender                0
country               0
diagnosis_date        0
cancer_stage          0
family_history        0
smoking_status        0
bmi                   0
cholesterol_level     0
hypertension          0
asthma                0
cirrhosis             0
other_cancer          0
treatment_type        0
end_treatment_date    0
survived              0
dtype: int64

In [9]:
# Fix data types (dates)
dataset["diagnosis_date"] = pd.to_datetime(dataset["diagnosis_date"])
dataset["end_treatment_date"] = pd.to_datetime(dataset["end_treatment_date"])
dataset[["diagnosis_date", "end_treatment_date"]].dtypes

diagnosis_date        datetime64[ns]
end_treatment_date    datetime64[ns]
dtype: object

In [10]:
# Filter by date 
dataset = dataset[dataset["diagnosis_date"] >= "2015-01-01"]
dataset["diagnosis_date"].min(), dataset["diagnosis_date"].max(), dataset.shape

(Timestamp('2015-01-01 00:00:00'),
 Timestamp('2024-05-30 00:00:00'),
 (838231, 17))

In [11]:
dataset.to_csv("LC_DS_cleaned.csv", index=False)